body {
    margin: 0px 70px;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32pt;
}

h3 {
    /* padding: 0px; */
    margin: 0px;
    padding-top: 15px;
}


/* Personal infomation section  */
.personal-section{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.personal-info{
    text-align: center;
}

/* Summary section */
.sum-section {
    text-align: left;
} 


/* Work experience section */
.work-exp-section {
    text-align: left;
}

.exp-date-1, .exp-company-1  {
    font-weight: bold;
}
.job-title-1 {
    font-style: italic;
}

.exp-date-2, .exp-company-2  {
    font-weight: bold;
}
.job-title-2 {
    font-style: italic;
}


/* Education section */
.edu-institution-1, .edu-date-1 {
    font-weight: bold;
}
.edu-field-1 {
    font-style: italic;
}

.edu-institution-2, .edu-date-2 {
    font-weight: bold;
}
.edu-field-2 {
    font-style: italic;
}

.edu-institution-3, .edu-date-3 {
    font-weight: bold;
}
.edu-field-3{
    font-style: italic;
}

/* Personal projects section */
.personal-proj-section {
    text-align: left;
}


/* Reference section */
.ref-name-1, .ref-name-2 {
    font-weight: bold;
}

/* Copyright section */
.copy-right {
    font-weight: bold;
    font-size: 12pt;
}

.icon-credits-section {
    text-align: center;
    font-size: 9pt;
}